<%- include ("partials/header") %> 
    <div class="container register-container">
        <div class="row">
            <h1 class="text-center">Login</h1>
            <form action="/login" class="register-form" method="post">
                <div class="col-lg-10 col-md-10">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="username" name="username">
                    </div>
                </div>

                <div class="col-lg-10 col-md-10">
                    <div class="form-group">
                        <input class="form-control form-control-md" type="password" placeholder="password" name="password">
                    </div>
                </div>

                <button type="submit" class="btn btn-success" style="margin-top: 10px;">Login</button>

                <p style="padding-top: 10px;">Dont Have An Account? <a href="/register">Sign Up</a></p>

            </form>
        </div>
    </div>
    <%- include ("partials/footer") %> 