<%- include ("partials/header") %>

<!-- navbar -->
<%- include ("partials/noneusernav") %>
<!-- /navbar -->

<div class="container register-container">
    <h1 class="text-center">Register With Us</h1>
    <hr>
    <!-- google and facebook -->
    <div class="card card-body social-card">
        <a class="btn btn-social btn-facebook btn-block text-light" href="/auth/facebook" role="button">
            <i class="fab fa-facebook"></i>
            Sign Up with Facebook
        </a>
    </div>
    <!-- google and facebook -->

    <h3 class="text-center">OR</h3>

    <div class="row">
<<<<<<< HEAD
        <form action="/register" method="post" class="register-form">
            <div class="col-lg-10 col-md-10">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username">
                </div>
            </div>
            <div class="col-lg-10 col-md-10">
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email">
=======
        <h1 class="text-center">Register With Us</h1>
        <form action="/register" class="register-form" method="post">
            <div class="col-lg-10 col-md-10">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="username" name="username">
>>>>>>> 3775a26d72bda2a9958106a2ecff493fed253121
                </div>
            </div>
            <div class="col-lg-10 col-md-10">
                <div class="form-group">
<<<<<<< HEAD
                    <input class="form-control" name="phoneno" type="tel" pattern="^\d{10}$" placeholder="Phone Number">
=======
                    <input class="form-control" type="email" placeholder="Email" name="email">
>>>>>>> 3775a26d72bda2a9958106a2ecff493fed253121
                </div>
            </div>
            <div class="col-lg-10 col-md-10">
                <div class="form-group">
<<<<<<< HEAD
                    <input class="form-control form-control-md" name="password" type="password" placeholder="password">
=======
                    <input class="form-control form-control-md" type="password" placeholder="password" name="password">
>>>>>>> 3775a26d72bda2a9958106a2ecff493fed253121
                </div>
            </div>

            <button type="submit" class="btn btn-success" style="margin-top: 10px;">Register</button>

            <p style="padding-top: 10px;">Already Have An Account <a class="text-info" href="/login">Login</a></p>

        </form>
    </div>
</div>

<%- include ("partials/footer") %>