<%- include ("partials/header") %> 
<div class="container register-container">
    <div class="row">
        <h1 class="text-center">Register With Us</h1>
        <form action="" class="register-form">
            <div class="col-lg-10 col-md-10">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="username">
                </div>
            </div>
            <div class="col-lg-10 col-md-10">
                <div class="form-group">
                    <input class="form-control" type="email" placeholder="Email">
                </div>
            </div>
            <div class="col-lg-10 col-md-10">
                <div class="form-group">
                    <input class="form-control form-control-md" type="password" placeholder="password">
                </div>
            </div>

            <button type="submit" class="btn btn-success" style="margin-top: 10px;">Register</button>

            <p style="padding-top: 10px;">Already Have An Account <a class="text-info" href="/login">Login</a></p>

        </form>
    </div>
</div>

<%- include ("partials/footer") %> 