<%- include("partials/header") %>
<!-- <style>
    body{
        background-color: rgb(206, 206, 206);
    }
</style> -->

<!-- navbar -->
<% if(!currentUser){ %>
<%- include ("partials/noneusernav") %>
<% } else { %>
<%- include ("partials/usernav") %>
<% } %>
<!-- /navbar -->

<div class="container" style="width: 50%; font-family:arial;">

    <div class="row justify-content-center my-5">

        <div class="text-center">
            <i class="fas fa-upload mb-2 bg" style="font-size: 4em;"></i>
            <h2 class="mt-2" style="font-family:arial">Upload An Album</h2>
        </div>

        <form action="">
            <div class="form-group">
                <label for="" class="form-label">Album Title</label>
                <input type="text" placeholder="Album Title" class="form-control">
            </div>
            <div class="form-group">
                <label for="" class="form-label">No of Singles</label>
                <input type="text" placeholder="Number Of Singles" class="form-control">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Genre</label>
                <select name="" class="form-control">
                    <option value="">Genge</option>
                    <option value="">Genge Tone</option>
                    <option value="">Dancehall</option>
                    <option value="">Drill</option>
                    <option value="">Gospel</option>
                    <option value="">Amapiano</option>
                    <option value="">Mugithi</option>
                </select>
            </div>

            <input type="file" class="form-control mt-4">

            <div class="form-floating">
                <textarea name="" class="form-control mt-3" style="height: 20%;">

                    </textarea>
                <label for="">Description/Comments</label>
            </div>

            <button type="submit" class="btn btn-success mt-3">Upload</button>
        </form>

    </div>

</div>
<%- include("partials/footer") %>